body {
  padding-top: 70px;
}
.jumbotron{
    min-height: 580px;
}
nav ul li a{
    color: #000;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
}
nav{
    background-color: #fff;
}
footer{
    background: #fff;
    height: 90px;
}
.copy{
    padding-top: 40px;
    text-align: center;
    color: #000;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
}


img {
    margin-left: 135px;
}

#login {
    width: 500px;
    margin: 0 auto;
    padding: 40px 20px 20px 20px;
    margin-top: 80px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.corFundo {
    background-color: #9acfea;
}

/*
.login{
    background:rgb(32,178,170);
    moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:345px;
    margin:0 auto;
    padding:40px 20px 20px 20px;
    margin-top:40px;
}
.login input{
    width:280px;
    padding:10px;
}
.login button{
    border:none;
    background:rgb(240,248,255);
    font-size:24px;
    padding:10px 20px;
    color:#000;
    font-family: 'Roboto', sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom:2px rgb(240,248,255) solid;
    margin-top: 20px;
}
.login button:hover{
    background:#FF7E28;
    border-bottom:2px #BB4A00 solid;
    color:#fff;
}*/
.cadLodin {
    font-family: 'Raleway', sans-serif;
    color: #000;
    margin-top: 10px;
    text-align: center;
}

.cadLodin a {
    text-decoration: none;
    color: #4cae4c;
}

.item-focado {
    background-color: #f5e79e !important;
}

.logo-home {
    height: 200px;
    width: 200px;
    margin-left: 200px;
}

.cadastro {
    margin-top: 40px;
    margin-left: 15%;
}
.pesquisa{
    margin-top: 40px;
}